/*----------Indice----------
		#colors
		#tipography
		#max-width
		#padding-left-and-right-of-the-header
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

$title: 'Raleway', sans-serif;
$body: 'Montserrat', sans-serif;

//	#colors
$white: #fff;
$black: #1c1c1c;
$green: #24b197;
$orange: #ea5a1a;
$purple: #695376;
$gray: #f9f9f9;

$icon-color:$green; //#4A94DD;

$color_text: #797a7d; 

$base: 420px;
$small: 600px;
$medium: 900px;
$large: 1000px;
$big:1200px;
