.page-viviendo-con-alergias, .page-manos-a-la-obra, .page-patas-y-colas-categoria, .page-paternidad-y-maternidad{
	.home{
			display: none;
		}
	.logo-page{
		display: block!important;
	}
	.searchform{
		text-align: center;
		.screen-reader-text{
			display: none;	
		}
		#s{
			width: 65%;
			height: 38px;
			padding-left: 13px;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
		#searchsubmit{
			@include transition;
			padding: 7px;
			border-radius: 0;
			border: 3px solid #24b197 !important;
			background: transparent !important;
			color: #24b197 !important;
			display:none;
			&:hover, &:active, &:focus{
				border: 3px solid #24b197 !important;
				background: #24b197 !important;
				color: #fff !important;
			}
		}
		.fa-search{
			&:before{
				content:"\f002";
				font-family: "FontAwesome";
			}
		}
	}
}
.post-section{
		overflow: hidden;
		padding: 0 0 80px 0;
		margin: 0 auto;
		h3{
			color: $green;
			position: relative;
			margin-top: 10px!important;
			&:before{
				content: "";
				border-top:3px solid $green;
				width: 63px;
		    position: absolute;
		    top: -10px;
		    left: 0;
		    right: 0;
		    margin-right: auto;
		    margin-left: auto;
			}
		}
		.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
    	margin-bottom: 75px;
		}
		h2{
			color: $black;
		}
		.vc_gitem-col-align-{
			background: none!important;
			padding-bottom: 0;
		}
		.img-width{
			padding: 0!important;
			.wpb_single_image{
				margin-bottom:0!important;
			}
		}
		.vc_gitem-post-data-source-post_title{
			div{
				font-family: $title;	
				color:$green;
				font-size: 21px;
				text-transform: uppercase;
			}
		}
		.vc_gitem-post-data {
    	margin-bottom: 0;
		}
		.vc_gitem-post-data-source-post_categories{
			text-align: right;
		}
		.vc_gitem-post-category-name{
			color: $green;
			font-family: $body;
			text-align: right;
			&:hover, &:active, &:focus{
				background: transparent!important; 
				color: $green!important;
			}
		}
		.vc_gitem-post-data-source-post_date div{
			color: $color-text;
		}
		.vc_grid-item{
			.vc_grid-item-mini{
				background-color: transparent;
				border: 1px solid #ccc;
				.vc_gitem-is-link{
					height: 250px;
				}
				.vc_gitem-zone{
					background-color: transparent!important;
				}
			}
		}
		.style-btn{
			a{
				color: $green;
				font-family: $body;
				background: transparent;
				border: none;
				padding-left: 0;
				&:hover, &:focus, &:active{
					background: transparent;
					color: $green;
				}
			}
		}
		h3, h2{
			margin: 0;
		}
		.title-content{
			margin-top: 10%;
		}
		.list-item{
			margin-bottom: 40px;
		}
		.img-flex{
	    height: 200px;
	    background-size: 100%;
	    background-position: center;
	  }
	  .border{
	    border: 1px solid #ccc;
	  }
	  .padding{
	    padding: 15px;
	    h4{
	    	margin: 0 0 10px;
	    }
	    div{
	    	padding:0;
	  	}
	  	.col-xs-7{
	  		text-align: right;
	  	}
	  	p{
	  		width:100%;
	  		overflow: hidden;
	  	}
	  }
	  .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
	    color: $green;
	    border-color: transparent;
	    background-color: transparent;
	    &:hover, &:focus, &:active{
				background-color: transparent;
				border: transparent;
				color: $green;
	    }
		}
	}