header{
  height: 600px;
 @media (min-width: 401px) and (max-width:1000px) {
  	height: 380px;
  }
  @media (max-width: 400px) {
	  height: 265px;
	}
  .div-flex{
  	position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	  @media (min-width: 401px) and (max-width:1000px) {
	  	background-size: 100%;
	  	background-repeat: no-repeat;
	  }
	  @media (max-width: 400px) {
	  	background-size: 155%;
			background-repeat: no-repeat;
			background-position: top right;
	  }
  }
}